
{% extends 'base.html' %}

{% block content %}

			<div class="bg-light rounded-3 mb-4 p-5">
				<div class="container-fluid py-5">

					<h1 class="text-center fw-bold display-5">MapApp</h1>

					<form id="form-signin" action="/api/signup" method="POST">
                                
						<label for="inputName" class="sr-only">Name</label>
                            <input
                                type="name"
                                name="inputName"
                                id="inputName"
                                class="form-control"
                                placeholder="Name"
                                required
                                autofocus
                            />
						<label for="inputEmail" class="sr-only">Email address</label>
                            <input
                                type="email"
                                name="inputEmail"
                                id="inputEmail"
                                class="form-control"
                                placeholder="Email address"
                                required
                                autofocus
                            />
						<label for="inputPassword" class="sr-only">Password</label>
                            <input
                                type="password"
                                name="inputPassword"
                                id="inputPassword"
                                class="form-control"
                                placeholder="Password"
                                required
                            />
						<button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit"> Sign up</button>
						
					</form>
				</div>
			</div>
			
		

			
		</div>
		<script>
			document
				.querySelector("#form-signin")
				.addEventListener("submit", async function (e) {
					e.preventDefault();
					console.log(new URLSearchParams(new FormData(e.target)).toString());
					const res = await fetch("/api/signup", {
						body: new URLSearchParams(new FormData(e.target)).toString(),
						method: "POST",
						headers: {
							"Content-Type": "application/x-www-form-urlencoded",
						},
					});
					console.log(await res.json());
				});
		</script>

{% endblock %}    
